---
layout: default
---

{% include about_preview.html %}

<div class="writing">
  <h2>Writing</h2>
  {% for post in site.posts %}
  <div class="post-item">
    <div>
      <a href="{{ post.url | relative_url }}"
        ><h4 class="post-title">{{ post.title | escape }}</h4></a
      >
      <time datetime="{{ post.date | date_to_xmlschema }}"
        >{{ post.date | date: "%Y/%m/%d" }}</time
      >
    </div>
    <small class="post-subtitle"> {{ post.subtitle }} </small>
  </div>
  {% endfor %}
</div>
