---
layout: default
---

<div class="post-heading">
  <h2>{{ page.title | escape }}</h2>
  <div class="post-date-time">
    {% if page.date %}
    <time datetime="{{ page.date | date_to_xmlschema }}"
      >{{ page.date | date: "%B %-d, %Y" }}</time
    >
    {% endif %} {% if page.time_to_read %}
    <span class="time-taken">{{ page.time_to_read }} minute read</span>
    {% endif %}
  </div>
</div>

<div class="post-content-box">{{ content }}</div>

{% if page.next or page.previous %}
<div class="post-suggestions">
  {% if page.previous.url %}
  <div class="previous-post">
    <div>
      <a href="{{page.previous.url}}">{{ page.previous.title }}</a>
      {% if page.previous.time_to_read %}
      <br />
      <time>{{ page.previous.time_to_read }} minute read</time>
      {% endif %}
    </div>
  </div>
  {% endif %} {% if page.next.url %}
  <div class="next-post">
    <div>
      <a href="{{ page.next.url }}">{{ page.next.title }}</a>
      {% if page.next.time_to_read %}
      <br />
      <time>{{ page.next.time_to_read }} minute read</time>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
